{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": { "project": "./tsconfig.json" },
    "plugins": ["@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "./lint-rules.eslintrc.json",
        "prettier",
        "prettier/@typescript-eslint"
    ]
}
